strong><p>Message</p></strong>
<form action="/register" method="post">

<label>Author ID:</label>
	<input type="integer" name="authorID"/><br/>

<label>Message:</label>
	<input type="text" name="message"
        placeholder="Lower case, all one word"
           size="140"
    <br/>

<label>Time Stamp:</label>
	<input type="datetime-local" name='timeStamp'/><br/>

<label>Password</label>
		<input type="password" name="password">
		
	  <input type="submit" value="Submit"/>
	</form>