<strong><p>Message</p></strong>
<form action="/login" method="post">

<label>Message:</label>
	<input type="text" name="message"
        placeholder="Message goes here!"
           size="140">
    <br/>

<input type="submit" value="Submit"/>
		  
	</form>