<strong><p>Message</p></strong>


<H1>>Message</H1>
<p>
   <ul> 
        <li>{{ID: req.User}}</li>
        <li>{{authorID: req.User}}</li>
        <li>{{message:  req.body.message}}</li>
        <li>{{timestamp: req.datetime-local}}</li>   
  </ul>      
</p>	

    

     
		  